html {
  color: white;
  background-color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
}

p {
  padding: 0 10px;
}

ul {
  margin-left: -20px;
  list-style-type: circle;
}

li {
  padding: 5px;
}

a {
  color: #fca311;
  text-decoration: none;
}

a:hover {
  color: #ffd60a;
  text-decoration: underline;
}

.location {
  color: #00b4d8;
  font-size: 40px;
  text-align: center;
  display: block;
}

.wrapper {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 40%;
  margin: 0 50px;
  padding: 10px 20px;

  border-radius: 15px;
  border: 2px solid #495057;

  border-left: unset;
  border-right: unset;
}

.surf {
  margin: 10px 10px;
  text-align: center;
}

.sad-life {
  color: #fca311;
  font-size: 40px;
  text-align: center;
}
